<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quotes</title>
  
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
  <script async
    defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdcbgx6c4y141GHgQHczCE-T9F3ZpABg&callback=initMap&libraries=geometry">
  </script>
  <script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/xlsx.full.min.js"></script>
</head>
<body>
  <div id="page">
  
        <div class="input-group flex-nowrap" style="padding: 10px 0px 10px 0px;">
      <input type="text" class="form-control" placeholder="City Ex: Kenner" aria-label="Address" aria-describedby="addon-wrapping" id="address">
      <input type="text" class="form-control" placeholder="Zip" aria-label="Zip Code" aria-describedby="addon-wrapping" id="zip">
      <input type="text" class="form-control" placeholder="Weight Ex: 1000" aria-label="Zip Code" aria-describedby="addon-wrapping" id="weight">
    </div>
    <button type="button" class="btn"  id="submit" style="background-color: lightgray;">Submit</button>
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" style="padding: 1vw 0px 0px 0px;" id="accessCharges">
      <input type="checkbox" class="btn-check off" id="25docFee" autocomplete="off">
      <label class="btn btn-outline-primary" for="25docFee">Document Fee</label>

      <input type="checkbox" class="btn-check off" id="55waiting" autocomplete="off">
      <label class="btn btn-outline-primary" for="55waiting">1 Hour Waiting Time</label>

      <input type="checkbox" class="btn-check off" id="10photos" autocomplete="off">
      <label class="btn btn-outline-primary" for="10photos">Photos</label>
      
      <input type="checkbox" class="btn-check off" id="75hazmat" autocomplete="off">
      <label class="btn btn-outline-primary" for="75hazmat">Hazmat</label>
      
      <input type="checkbox" class="btn-check off" id="40liftA" autocomplete="off">
      <label class="btn btn-outline-primary" for="40liftA">Liftgate (A-C)</label>

    </div>
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" id="accessChargess">
      <input type="checkbox" class="btn-check off" id="55liftD" autocomplete="off">
      <label class="btn btn-outline-primary" for="55liftD">Beyond Liftgate (D-E)</label>

      <input type="checkbox" class="btn-check off" id="20inside" autocomplete="off">
      <label class="btn btn-outline-primary" for="20inside">Inside</label>

      <input type="checkbox" class="btn-check off" id="25mall" autocomplete="off">
      <label class="btn btn-outline-primary" for="25mall">Convention/Hotel/Mall/School/Casino/Hospital</label>
      
      <input type="checkbox" class="btn-check off" id="40refine" autocomplete="off">
      <label class="btn btn-outline-primary" for="40refine">Whart/Refinery/Military/Government</label>
      
      <input type="checkbox" class="btn-check off" id="20resi" autocomplete="off">
      <label class="btn btn-outline-primary" for="20resi">Residential</label>
    </div>
    <div style="display: flex; justify-content: center;" id="ID"></div>
  </div>
  
</body>
    

<script type="module" src="{{ url_for('static', filename='script.js') }}"></script>


</html>